[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
djoser = "*"
django-environ = "*"
psycopg2 = "*"
psycopg2-binary = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-toggle-m2m = "*"
django-custom-user = "*"
django-on-heroku = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.10"
